.header-container {
  position: fixed;
  width: 100%;
  height: $header-height;
  vertical-align:middle;
  background-color: white;
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), 0 1px 1px 0 rgba(0,0,0,0.1);
}

.header-logo {
  text-align: left;
  float: left;
  margin-top: 0;
  text-align: left;
  padding: (($header-height - $header-logo-height) / 2) 0;

  img {
    height: $header-logo-height;
    width: auto; // overriding normalize.css width: 100%
  }
}
