<header class="header-container" role="banner">
  <div class="grid-container">
    <div class="header-logo">
      <a href="{{site.data.locales[page.lang].navigation.home-link}}">
        <img src="/assets/icons/lezzgo-logo.svg" alt="Lezzgo Logo" />
      </a>
    </div>
      {% include nav.html %}
  </div>
</header>

<header class="header-container" role="banner">
  <div class="grid-container">
    <nav class="header-nav nav-horizontal" role="navigation">
      <ul>
        <li>
          <a href="./">Home</a>
        </li>
        <li>
          <a href="./styleguide">Styleguide</a>
        </li>
      </ul>
    </nav>
    <div class="header-logo">
      <a href="./">
        <img src="assets/images/frontend_cubie.svg" alt="Cubie. The little front-end companion" width="160" height="170">
      </a>
    </div>
  </div>
</header>
