<nav class="header-nav nav nav-horizontal" role="navigation">
  {% assign locale = site.data.locales[page.lang].navigation %}
  <label for="nav-menu-toggle" class="nav-menu-toggle">
    {{locale.menu}}
    <svg class="icon-menu"><use                 xlink:href="#icon-menu"></use>
    </svg>
  </label>
  <input id="nav-menu-toggle" type="checkbox">
  <ul id="nav-menu">
    <a href="{{locale.home-link}}">
      <li{% if page.page == 'home' %} class="active"{% endif %}>
        {{locale.home}}
      </li>
    </a>
    <a href="{{locale.page1-link}}">
      <li{% if page.page == 'page1' %} class="active"{% endif %}>
        {{locale.page1}}
      </li>
    </a>
    <a href="{{locale.page2-link}}">
      <li{% if page.page == 'page2' %} class="active"{% endif %}>
        {{locale.page2}}
      </li>
    </a>
    <div class="nav-language"><ul>
      {% for lang in site.data.languages.list %}
      <li class="{% if page.lang == lang.id %}active{% endif %}">
        <a href="index{{ lang.ext }}.html">{{lang.id | upcase }}</a>
      </li>
      {% endfor %}
    </ul>
    </div>
  </ul>
</nav>
