<nav class="header-nav nav" role="navigation">
  {% assign locale = site.data.locales[page.lang].navigation %}
  <label for="nav-menu-toggle" class="nav-menu-toggle">{{locale.menu}}</label>
  <input id="nav-menu-toggle" type="checkbox">
  <ul id="nav-menu">
    <a href="{{locale.home-link}}">
      <li{% if page.page == 'home' %} class="active"{% endif %}>
      {{locale.home}}
    </li>
  </a>
  {% if locale.plus %}
    <a href="{{locale.plus-link}}">
      <li{% if page.page == 'plus' %} class="active"{% endif %}>
        {{locale.plus}}
      </li>
    </a>
  {% endif %}
<a href="{{locale.partner-link}}">
  <li{% if page.page == 'partner' %} class="active"{% endif %}>
  {{locale.partner}}
</li>
</a>
<a href="{{locale.faq-link}}">
  <li{% if page.page == 'faq' %} class="active"{% endif %}>
  {{locale.faq}}
</li>
</a>
<div class="nav-language"><ul>
  {% for lang in site.data.languages.list %}
  <li class="{% if page.lang == lang.id %}active{% endif %}">
    <a href="index{{ lang.ext }}.html">{{lang.id | upcase }}</a>
  </li>
  {% endfor %}
</ul></div>
</ul>
</nav>
