.nav .nav-menu-toggle {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  float: right;
  text-transform: uppercase;
  margin-top: 0.8em;
  padding: 0 0.5em;
  height: 2em;
  background-color: $color-beige;

  @include susy-breakpoint($break-medium) {
    display: none;
  }
}

.nav .nav-menu-close {
  text-align: right;
  font-size: rem-calc(10);

  @include susy-breakpoint($break-medium) {
    display: none;
  }
}


.nav > ul {
  @include reset-list;
  display: block;
  position: fixed;
  right: 1em;
  top: 4em;
  min-width: 15em;
  z-index: 1;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: white;
  border-radius: 0 0 4px 4px;

  @include susy-breakpoint($break-medium) {
    border-radius: 4px;
    box-shadow: none;
    position: absolute;
    top: 0.4em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.nav #nav-menu-toggle {
  display: none;
}

.nav #nav-menu-toggle:not(:checked) + ul {
  display: none;

  @include susy-breakpoint($break-medium) {
    display: flex;
  }
}


.nav #nav-menu-toggle:checked + ul {
  font-size: rem-calc(12);

}

.nav > ul a {
  display: list-item;
  margin-top: rem-calc(1);
  padding: rem-calc(14);
  border-top: 1px solid $color-beige;

  @include susy-breakpoint($break-medium) {
    margin-top: 0;
    border: none;
  }

  &:first-child {
    margin: 0;
    border: none;
  }
}

// Language Nav
.nav .nav-language {
  border-left: 1px solid $color-lightgray;
  color: $color-beige-2;
  padding: rem-calc(14);
}

.nav .nav-language ul {
  @include reset-list;
  display: flex;
  font-size: rem-calc(14);
  justify-content: center;
}


.nav .nav-language a {
  padding: 0 rem-calc(6);

  &:hover {
    color: $color-secondary;
  }
}

.nav li {
  display: inline;

  &:hover {
    color: $color-secondary;
  }

  @include susy-breakpoint($break-medium) {
    float: right;
  }

}

.nav a {
  text-decoration: none;
  color: $color-dark;
  font-size: rem-calc(18);
}

.nav li.active {
  font-weight: bold;
}
